<ng-container [ngSwitch]="site">
    <ng-container *ngSwitchCase="'YouTube'">
        <iframe width="400" height="315" [src]="sanitizeVideo" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </ng-container>

    <ng-container *ngSwitchCase="'Vimeo'">
        <iframe width="560" height="315" [src]="sanitizeVideo" title="Vimeo video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </ng-container>

</ng-container>